.overview-section {
  padding: 20px;
}

.overview-header {
  display: flex; /* Sử dụng flexbox để sắp xếp các phần tử theo hàng ngang */
  align-items: center; /* Căn chỉnh các phần tử theo chiều dọc ở giữa */
  gap: 8px; /* Khoảng cách giữa image và h2 */
  margin-bottom: 20px; /* Thêm khoảng cách phía dưới header nếu cần */
}

.overview-header img {
  width: 20px; /* Điều chỉnh kích thước ảnh theo nhu cầu */
  height: 20px; /* Điều chỉnh kích thước ảnh theo nhu cầu */
}

.overview-header h2 {
  margin-left: 0; /* Loại bỏ margin mặc định bên trái của h2 */
  font-weight: 600;
  color: black;
}

.overview-cards-container {
  display: flex;
  flex-wrap: wrap; /* Cho phép các thẻ xuống dòng khi không đủ chỗ trên một hàng */
  justify-content: space-between; /* Phân phối khoảng trống đều nhau giữa các thẻ */
}