/* AdminPage.css */
body {
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.admin-page {
    display: flex;
    min-height: 100vh;
    width: 70vw;
}

.nav-site {
    width: 250px;
}

.main-site {
    flex-grow: 1;
    /* Cho phép main content chiếm phần không gian còn lại */
    display: flex;
    flex-direction: column;
    /* Sắp xếp header và content theo chiều dọc */
}

.header {
    height: 50px;
}

.content {
    background-color: rgb(238, 238, 238);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* Sắp xếp header và content theo chiều dọc */
}